src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:xml-module="http://www.mulesoft.org/schema/mule/xml-module"
	xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/xml-module http://www.mulesoft.org/schema/mule/xml-module/current/mule-xml-module.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="accounts" doc:id="ac7a9c11-dc54-409a-b939-0f28af0e9e0d" >
		<http:listener doc:name="HTTP: GET /accounts" doc:id="5237700e-e461-49ff-9925-a9eee436fbb7" config-ref="HTTP_Listener_config" path="/accounts" allowedMethods="GET">
		</http:listener>
		<http:request method="GET" doc:name="HTTP: GET /accounts" doc:id="68e3c5e1-4984-4186-af2d-58e3d0ffed67" config-ref="HTTP_Request_Accounts_API" path="${accounts.endpoint}">
			<http:headers ><![CDATA[#[output applicaton/java
---
{
	"Requester-ID" : "RJ45"
}]]]></http:headers>
			<http:query-params ><![CDATA[#[output applicaton/java
---
{
	"type" : "personal"
}]]]></http:query-params>
		</http:request>
		<json:validate-schema doc:name="JSON: Schema" doc:id="2a9b8ce8-fa9f-44c7-b4c4-c3d84373c2b0" schema="schemas/accountsSchema.json" >
		</json:validate-schema>
		<set-payload value="#[null]" doc:name="Copy_of_Set Payload" doc:id="41ae0074-1376-4452-a78c-398a859805a7" />
		
	
</flow>
	<flow name="flights" doc:id="dd9ee723-226c-4a97-ae7f-ddc8448f71ce" >
		<http:listener doc:name="HTTP: GET /flights" doc:id="f9103d96-c52a-44fb-9155-87e29a484bbc" config-ref="HTTP_Listener_config" path="/flights">
			<http:response >
				<http:body ><![CDATA[#[payload.body]]]></http:body>
			</http:response>
		</http:listener>
		<wsc:consume doc:name="WSC: Get all flights" doc:id="f0118259-8070-4421-8da8-9ae17de4d90e" config-ref="Web_Service_Consumer_Config" operation="listAllFlights">

		</wsc:consume>
		<xml-module:validate-schema doc:name="XML Validation" doc:id="8fffde25-5ecc-4072-a94c-96612ce943a4" schemas="schemas\flightsSchema.xsd">
			<xml-module:content ><![CDATA[#[payload.body]]]></xml-module:content>
		</xml-module:validate-schema>
		<ee:transform doc:name="Transform Message" doc:id="a59a98df-d4bb-4653-a0fe-e53bb3a800ab" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-payload value="#[null]" doc:name="Set Payload" doc:id="b56bd47d-7f71-4b8f-a201-04ccad55f1e4" />
	
</flow>
</mule>
